<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of Departments</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Các đoạn CSS khác có thể được thêm vào đây -->
</head>
<body>

<div class="container">
  <h2>Danh sách phòng ban</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Mã phòng ban</th>
      <th>Tên phòng ban</th>
      <th>Mô tả</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="phongBan : ${phongBanList}">
      <td th:text="${phongBan.maPhong}"></td>
      <td th:text="${phongBan.tenPhong}"></td>
      <td th:text="${phongBan.moTa}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Các đoạn script JavaScript khác có thể được thêm vào đây -->

</body>
</html>
